@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

* {
  margin: 0;
  padding: 0;
  font-family: Raleway, Verdana, Tahoma, sans-serif;
}

nav {
  background-color: white; /* pale orange: #f5e9e0 */
  overflow: hidden;
  padding-right:5%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

nav a {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 4rem;
  margin-top: 1rem;
  text-decoration: none;
  line-height: 2rem;
  font-size: 1.1rem;
  color: black;
  transition: .35s;
}

nav a:hover {
  color: rgb(172,72,40);
}

nav img {
  float: left;
  height: 3rem; 
  padding: 10px;
  padding-left: 20px;
}

#menu-icon {
  font-size: 2rem;
  display: none;
}

/*@media (max-width: 600px) {
  nav a, nav img {
      display: block;
      text-align: left;
      box-sizing: border-box;
  }
}*/

@media (max-width: 655px) { /* Write the mobile nav bar here. */

}

main {
  background-color: #8b8b8b;
  background: radial-gradient(#1a1a1a, #0a0a0a); /* 10%, 50% */
  padding: 30px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 82vh;
}

.hexhs {
  height: 34vw;
}

h1 {
  color: white;
  font-size: 10vh;
  margin-top: 0;
  margin-bottom: 0;
  text-align:center;
}

p {
  color:white;
  margin-top:.5em;
  margin-bottom: 1em;
  font-size: 3.5vh;
  text-align:center;
}

#aboutMe {
  background-color: #262626;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 82vh;
}

#aboutText {
  line-height: 2;
  margin-right: 3vw;
}
.social {
  display: flex;
}

.social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: .2rem solid #ac4828; /* #ac4828, #ac6034 */
  border-radius: 50%;
  font-size: 2rem;
  color: #ac4828;
  margin-right: auto;
  margin-left: auto;
  text-decoration-line: none;
  transition: .25s;
}

.social a:hover {
  width: 4.35rem;
  height: 4.35rem;
}

